/Work/createConnection/nbproject/private/
/Work/createConnection/build/
/Work/toDoOperation/nbproject/private/
/Work/toDoOperation/build/
/Work/catagory/nbproject/private/
/Work/catagory/build/
/Sir_Folder/jdbc/inventoryCalcuation/nbproject/private/
/Sir_Folder/jdbc/inventoryCalcuation/build/
/Sir_Folder/jdbc/SalesSystem/build/
/Project/01/nbproject/private/
/Project/02/nbproject/private/
/Project/JavaApplication3/nbproject/private/
/Project/JavaApplication3/build/
/Project/OwnProject/HajjManagementSystem/nbproject/private/
/Project/OwnProject/JavaApplication5/nbproject/private/
/Project/OwnProject/JavaApplication5/build/
/Project/OwnProject/JavaApplication6/nbproject/private/
/Project/OwnProject/HajjManagementSystem/build/
/Evidence/simpleProject/nbproject/private/
/Evidence/simpleProject/build/
/Evidence/Evidence2nd/nbproject/private/
/Evidence/Ev3/nbproject/private/
/Project/PurchaseSalesCalcuation/build/
/Project/PurchaseSalesCalcuation/nbproject/private/
/Evidence/Ev4/nbproject/private/
/Evidence/Ev4/build/
/Project/OwnProject/New folder/DrugShop/dist/